/*h2*/
h2{
    font-family: "Lucida Handwriting";
    text-align: center;
    color: #2B3A67;
    padding: 2%;
    font-size: 40px;
}

/*section*/
section{
    background-color: #C3C3E680;
    text-align: justify;
    padding: 5%;
    margin-left: 30%;
    margin-right: 30%;
   
}

section>p{
    font-family: "Lucida Handwriting";
    color: #2B3A67;
    font-size: 20px;
}
